common/src/main/xsd/package-metadata.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://www.openthinclient.org/ns/manager/package/metadata/1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:ns="http://www.openthinclient.org/ns/manager/package/metadata/1.0"
           jaxb:version="2.1">
    <xs:element name="metadata" type="ns:metadataType"/>
    <xs:complexType name="labelType">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class name="Label"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:attribute type="xs:string" name="lang"/>
        <xs:attribute type="xs:string" name="value"/>
    </xs:complexType>
    <xs:complexType name="bookmarkType">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class name="Bookmark"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="xs:anyURI" name="icon" minOccurs="0"/>
            <xs:sequence maxOccurs="unbounded">
                <xs:element type="ns:labelType" name="label"/>
            </xs:sequence>
        </xs:sequence>
        <xs:attribute type="xs:string" name="path"/>
    </xs:complexType>
    <xs:complexType name="bookmarksType">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class name="Bookmarks"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence maxOccurs="unbounded">
            <xs:element type="ns:bookmarkType" name="bookmark"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="metadataType">
        <xs:annotation>
            <xs:appinfo>
                <jaxb:class name="PackageMetadata"/>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element type="ns:bookmarksType" name="bookmarks"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>